.inputs {
  display: flex;
  flex-direction: column;
}

input,
button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

button {
  border: 1px solid black;
  background-color: #ccc;
  cursor: pointer;
}

input,
button:focus {
  place-content: center;
}
