* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: olive;
  width: 100vw;
  height: 100vh;
  border: 5px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
